body {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #4C4C4C;
    line-height: 21px;
    font-size: 12px;
}

.container {
    width: 700px;
    margin: 30px auto 0 auto;
}

h1 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 1px;
}

.service {
    position: relative;
    padding: 2px 2px 2px 52px;
}

.services {
    list-style-type: none;
}

.service.hover {
    background-color: #fcfce2 !important;
}

.services li:nth-child(even) {
    background: #f7fbfc;
}

.status {
    margin-left: -44px;
}

.name {
    margin: 2px 0 2px 12px;
}

.heartbeat {
    position: absolute;
    text-align: center;
    width: 60px;
}

.heartbeat.last {
    clear: both;
}

.heartbeat.last {
    right: 124px;
}

.heartbeat.warning {
    right: 64px;
}

.heartbeat.error {
    right: 4px;
}

.meta {
    font-size: 11px;
}

.right {
    position: absolute;
    top: 4px;
    right: 2px;
    white-space: nowrap;
}
