<html>
  <head>
    <title>Lovebeat dashboard for {{lbl}}</title>
    <link href="/static/lovebeat.css" media="all" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <a href="https://github.com/boivie/lovebeat"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
    <div class="container">
      <a href="/dashboard/" class="labels">&#171; Labels</a>
      <h1>Dashboard for &#171;{{lbl}}&#187;</h1>
      <ol class="services">
{% for service in services -%}
        <li class="service" data-sid="{{service.id}}">
	  <img class="status" src="/static/{{service.status}}-16.png" width="16" height="16">
	  <span class="name">
	    {{service.id}}
	  </span>
	  <div class="meta">
	    <div class="right">
	      <div class="buttons">
		<button type="button" class="btn btn-mini" data-action="trigger">Trigger</button>
{% if service.status == 'maint' -%}
		<button type="button" class="btn btn-mini" data-action="unmaint">Unpause</button>
{% else -%}
		<button type="button" class="btn btn-mini" data-action="maint">Pause</button>
{% endif -%}
		<button type="button" class="btn btn-mini" data-action="delete">Delete</button>
	      </div>
	      <div class="heartbeat last">
		<img src="/static/lhb-12.png" width="12" height="12">
		<span class="t">{{service.state.last.delta|pretty_interval}}</span>
	      </div>
{% if service.config.heartbeat.warning -%}
	      <div class="heartbeat warning">
		<img src="/static/whb-12.png" width="12" height="12">
		<span>{{service.config.heartbeat.warning|pretty_interval}}</span>
	      </div>
{% endif -%}
{% if service.config.heartbeat.error -%}
	      <div class="heartbeat error">
		<img src="/static/ehb-12.png" width="12" height="12">
		<span>{{service.config.heartbeat.error|pretty_interval}}</span>
	      </div>
{% endif -%}
	    </div>
	  </div>
	</li>
{% endfor -%}
      </ol>
    </div>
    <script>
$("li").hover(
  function () {
    $(this).addClass('hover');
  },
  function () {
    $(this).removeClass('hover');
  }
  );

$("button").click(function(e) {
  var action = $(this).data("action");
  var service = $(this).closest("li").data("sid");
  if (action == "delete") {
    var conf = confirm("Are you sure you want to delete this service?");
    if (conf != true)
      return;
  }
  $.ajax({
    type: "POST",
    url: "/s/" + service + "/" + action,
    data: JSON.stringify({ }),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
     complete: function() {
       document.location.reload();
     }
   });
});
    </script>
  </body>
</html>
