<html>
  <head>
    <title>Lovebeat dashboard for {{lbl}}</title>
    <link href="/static/lovebeat.css" media="all" rel="stylesheet" type="text/css">
  </head>
  <body>
    <a href="https://github.com/boivie/lovebeat"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
    <div class="container">
      <h1>Dashboard for &#171;{{lbl}}&#187;</h1>
      <table class="table">
	<thead>
	  <tr>
	    <th style="width: 39px;">Status</th>
	    <th style="width: 250px;">Service</th>
	    <th style="width: 450px;">Comment</th>
	  </tr>
	</thead>
	<tbody>
{% for service in services -%}
	  <tr>
	    <td class="status"><img class="status" src="/static/{{service.status}}-16.png" width="16" height="16"></td>
	    <td>{{service.sid}}</td>
	    <td>
{%- if service.status == "ok" -%}
Service is running normally.
{%- elif service.status == "warning" -%}
{{service.warnings[0]}}
{%- elif service.status == "error" -%}
{{service.errors[0]}}
{%- elif service.status == "maint" -%}
Service has a scheduled maintenance
{%- endif -%}</td>
	  </tr>
{% endfor -%}
	</tbody>
      </table>
    </div>
  </body>
</html>
